.foot-container {
  width: 100%;
  max-width: 1140px;
  /* position: relative; */
  margin: 0 auto;
}

.footer-line {
  margin-top: 70px;
  border: 1px solid #eeeeee;
}

.footer-line2 {
  margin-top: 20px;
  border: 1px solid #eeeeee;
}

.foot-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.foot-logo {
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  color: var(--main-clr);
}

.foot-nav ul li a.foot-link {
  text-decoration: none;
  color: var(--font-gray);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.foot-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px 0;
}

.foot-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--font-gray);
}

.foot-more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 400px;
}

.foot-more-info a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: var(--font-gray);
}


@media (max-width: 1200px) {
  .foot-container {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .foot-container {
    max-width: 720px;
  }

  .foot-nav ul li a.foot-link {
    font-weight: 500;
    font-size: 13px;
  }
}

@media (max-width: 720px) {
  .foot-container {
    max-width: 360px;
  }

  .foot-nav ul li a.foot-link {
    display: none;
  }

  .foot-logo {
    width: 360px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .foot-more-info {
    display: none;

  }

  .foot-info p {
    width: 360px;
    text-align: center;
    font-size: 13px;
    color: var(--font-gray);
  }
}