.head-container {
  width: 100%;
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  height: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.burger-menu i {
  color: var(--main-clr);
  cursor: pointer;
}

.burger-menu .explore {
  margin-left: 10px;
}

hr {
  border: none;
  color: #eeeeee;
  background-color: #eeeeee;
  height: 2px;
}

.menu-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-links ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: var(--font-dark);
  font-weight: 500;
  font-size: 14px;
  height: 40px;
}

.btn-login:hover {
  color: #7a3edb;
}

.btn-add-small {
  display: none;
}

.btn-add {
  color: var(--main-clr);
  font-weight: 600;
  font-size: 14px;
  background-color: var(--btn-opacity);
  border-radius: 100px;
  padding: 12px 26px;
  outline: none;
}


.btn-add:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: var(--main-clr);
  -webkit-transition: ease-in-out;
  -o-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn-add:active {
  cursor: pointer;
  color: #ffffff;
  background-color: #7a3edb;
  -webkit-transition: ease-in-out;
  -o-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.logotype {
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  color: var(--main-clr);
  margin-left: 100px;
}

.explore {
  text-decoration: none;
  color: var(--font-dark);
  font-weight: 500;
  font-size: 14px;
}

.categories-menu ul {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories-menu ul li {
  /* color: var(--font-gray); */
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.categories-menu ul li:hover {
  color: var(--main-clr);
}

.active {
  color: var(--main-clr);
  font-weight: 500;
}

.small-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1140px;
  height: 40px;
  background-color: var(--btn-opacity);
  margin: 10px 0;
  border-radius: 5px;
}

.ban-text {
  font-size: 16px;
  font-weight: 500;
  color: var(--font-dark);
}

.ban-save {
  color: var(--main-clr);
  font-weight: 600;
}


/* ADAPTIVE */

@media (max-width: 1200px) {
  .head-container {
    width: 100%;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
  }

  .top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .burger-menu i {
    color: var(--main-clr);
    cursor: pointer;
  }

  .burger-menu .explore {
    margin-left: 10px;
  }

  hr {
    border: none;
    color: #eeeeee;
    background-color: #eeeeee;
    height: 2px;
  }

  .menu-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-links ul li a {
    text-decoration: none;
    color: var(--font-dark);
    font-weight: 500;
    font-size: 14px;
  }

  .btn-add {
    color: var(--main-clr);
    font-weight: 600;
    font-size: 14px;
    background-color: var(--btn-opacity);
    border-radius: 100px;
    padding: 12px 26px;
    outline: none;
  }

  .btn-add-small {
    display: none;
  }

  .btn-add:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: var(--main-clr);
    -webkit-transition: ease-in-out;
    -o-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .btn-add:active {
    cursor: pointer;
    color: #ffffff;
    background-color: #7a3edb;
    -webkit-transition: ease-in-out;
    -o-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .logotype {
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    color: var(--main-clr);
    margin-left: 100px;
  }

  .explore {
    text-decoration: none;
    color: var(--font-dark);
    font-weight: 500;
    font-size: 14px;
  }

  .categories-menu ul {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .categories-menu ul li {
    /* color: var(--font-gray); */
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .categories-menu ul li:hover {
    color: var(--main-clr);
    font-style: italic;
  }

  .active {
    font-style: italic;
    color: var(--main-clr);
    font-weight: 500;
  }

  .small-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 960px;
    height: 40px;
    background-color: var(--btn-opacity);
    margin: 10px 0;
    border-radius: 5px;
  }

  .ban-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--font-dark);
  }

  .ban-save {
    color: var(--main-clr);
    font-weight: 600;
  }
}


@media (max-width: 960px) {
  .head-container {
    width: 100%;
    max-width: 720px;
  }

  .top-menu {
    width: 720px;
    height: 80px;
  }

  .small-banner {
    width: 720px;
  }

  .ban-text {
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  .head-container {
    width: 100%;
    max-width: 360px;
  }

  .top-menu {
    width: 360px;
    height: 80px;
  }

  .small-banner {
    width: 360px;
  }

  .ban-text {
    font-size: 14px;
  }

  .explore {
    display: none;
  }

  .menu-links ul li a {
    display: none;
  }

  .btn-add {
    display: none;
  }

  .btn-add-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--main-clr);
    font-weight: 600;
    font-size: 18px;
    background-color: var(--btn-opacity);
    border-radius: 100px;
    padding: 12px 22px;
    outline: none;
  }

  .btn-add-smal:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: var(--main-clr);
    -webkit-transition: ease-in-out;
    -o-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .btn-add-smal:active {
    cursor: pointer;
    color: #ffffff;
    background-color: #7a3edb;
    -webkit-transition: ease-in-out;
    -o-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .categories-menu ul {
    height: 80px;
    width: 360px;
    overflow-x: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .categories-menu ul li {
    /* color: var(--font-gray); */
    font-weight: 500;
    font-size: 14px;
    margin: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .categories-menu ul li:hover {
    color: var(--main-clr);
  }

}