#search {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filterInput {
  padding: 20px 0;
  width: 1140px;
  margin-top: 70px;
  border: none;
  background-color: #fcfcfc;
  border-bottom: 2px solid #eeeeee;
  outline: none;
  border-radius: 0;
  /* text-align: center; */
}

#filterInput:focus {
  border-bottom: 2px solid var(--main-clr);
  outline: none;
}

#filterInput::placeholder {
  font-size: 22px;
}

.requests-list {
  margin-top: 70px;
}

#requests {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {


  #filterInput {
    width: 960px;

  }


}

@media (max-width: 960px) {
  #filterInput {
    width: 720px;

  }
}

@media (max-width: 720px) {
  #filterInput {
    width: 360px;
  }
}